INDEXNOW_KEY=
DATABASE_URL=
GA4_PROPERTY_ID=
GOOGLE_CLIENT_ID=
REVALIDATE_SECRET=
EMAILJS_SERVICE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_TEMPLATE_ID=
EMAILJS_PRIVATE_KEY=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SITE_URL=
GOOGLE_CLIENT_SECRET=
GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_POSTHOG_HOST=
POSTHOG_PERSONAL_API_KEY=
GA4_SERVICE_ACCOUNT_PATH=
GA4_SERVICE_ACCOUNT_JSON=
NEXT_PUBLIC_GOOGLE_ADS_ID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=